<h1>Submit a Song!</h1>

<form method="post" action="/songs">
  Song Name: <input type="text" name="songs[name]"><br>
  Artist Name: <input type="text" name="songs[artist]"><br>

  <input type="submit" id="Create" value="Create"/>
</form>